.card {
  position: relative;

  overflow: hidden;
  width: 320px;
  height: 509px;
}

.card__box-upper-part {
  position: relative;
  left: 42px;

  border-top: 4px solid;
  border-right: 4px solid;
  border-top-right-radius: 12px;

  width: 278px;
  height: 42px;
  background: white;
}

.card__box-upper-part_default {
  border-color: #1698d9;
}

.card__box-upper-part_default_hover {
  border-color: #2ea8e6;
}

.card__box-upper-part_checked {
  border-color: #d91667;
}

.card__box-upper-part_checked_hover {
  border-color: #e52e7a;
}

.card__box-upper-part_unavailable {
  border-color: #d3d3d3;
  background-color: #f9f9f9;
}

.card__box-upper-part_default::before {
  position: absolute;
  top: -4.075px;
  left: -43px;
  content: '';
  border: 22px solid transparent;
  border-right: 22px solid #1698d9;
  border-bottom: 22px solid #1698d9;
}

.card__box-upper-part_checked::before {
  position: absolute;
  top: -4.075px;
  left: -43px;
  content: '';
  border: 22px solid transparent;
  border-right: 22px solid #d91667;
  border-bottom: 22px solid #d91667;
}

.card__box-upper-part_unavailable::before {
  position: absolute;
  top: -4.075px;
  left: -43px;
  content: '';
  border: 22px solid transparent;
  border-right: 22px solid #d3d3d3;
  border-bottom: 22px solid #d3d3d3;
}

.card__box-upper-part_default_hover::before {
  position: absolute;
  top: -4.075px;
  left: -43px;
  content: '';
  border: 22px solid transparent;
  border-right: 22px solid #2ea8e6;
  border-bottom: 22px solid #2ea8e6;
}

.card__box-upper-part_checked_hover::before {
  position: absolute;
  top: -4.075px;
  left: -43px;
  content: '';
  border: 22px solid transparent;
  border-right: 22px solid #e52e7a;
  border-bottom: 22px solid #e52e7a;
}

.card__box-upper-part_default::after,
.card__box-upper-part_checked::after {
  position: absolute;
  top: -0.75px;
  left: -39px;
  content: '';
  border: 20.5px solid transparent;
  border-right: 20.5px solid white;
  border-bottom: 20.5px solid white;
}

.card__box-upper-part_unavailable::after {
  position: absolute;
  top: -0.75px;
  left: -39px;
  content: '';
  border: 20.5px solid transparent;
  border-right: 20.5px solid rgba(249, 249, 249, 1);
  border-bottom: 20.5px solid rgba(249, 249, 249, 1);
}

.card__box-lower-part {
  position: relative;
  margin-bottom: 14px;

  border: 4px solid;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  height: 438px;
  background: url(../images/cat.png) no-repeat 55% 221% white;
}

.card__box-lower-part_default {
  border-color: #1698d9;
}

.card__box-lower-part_default_hover {
  border-color: #2ea8e6;
}

.card__box-lower-part_checked {
  border-color: #d91667;
}

.card__box-lower-part_checked_hover {
  border-color: #e52e7a;
}

.card__box-lower-part_unavailable {
  border-color: #b3b3b3;
}

.card__box-lower-part_unavailable:after {
  position: absolute;
  top: 0;
  left: -4px;
  right: -4px;
  bottom: -4px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  content: '';
  background: #f2f2f2;
  background-blend-mode: normal;
  opacity: 0.49518794;
}

.card__content {
  padding: 4px 0 0 45px;

  display: flex;
  flex-direction: column;
}

.card__content-title {
  position: absolute;
  top: 17px;
  left: 9px;

  line-height: 19px;
}

.card__content-title_default,
.card__content-title_checked {
  color: #666666;
}

.card__content-title_checked_hover {
  color: #e62e7a;
}

.card__content-title_unavailable {
  color: #b3b3b3;
}

.card__content-name {
  font-size: 48px;
  line-height: 56px;
}

.card__content-taste {
  padding: 0 0 12px 2px;

  font-size: 24px;
  line-height: 28px;
}

.card__content-amount,
.card__content-bonus,
.card__content-result {
  padding-left: 2px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card__content-name_unavailable,
.card__content-taste_unavailable,
.card__content-amount_unavailable,
.card__content-bonus_unavailable,
.card__content-result_unavailable {
  color: #b3b3b3;
}

.card__oval {
  position: absolute;
  left: 70%;
  top: 78.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 50%;

  width: 80px;
  height: 80px;
}

.card__oval_default {
  background-color: #1698d9;
}

.card__oval_default_hover {
  background-color: #2ea8e6;
}

.card__oval_checked {
  background-color: #d91667;
}

.card__oval_checked_hover {
  background-color: #e52e7a;
}

.card__oval_unavailable {
  background-color: #b3b3b3;
}

.card__content-weight {
  padding-top: 13px;

  font-size: 42px;
  line-height: 22px;
  color: #ffffff;
}
.card__content-unit {
  padding-top: 7px;

  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
}

.card__caption {
  text-align: center;

  font-size: 13px;
  line-height: 15px;
}

.card__caption_default {
  color: #ffffff;
}

.card__caption_unavailable {
  color: #ffff66;
}

.card__caption-link {
  border-bottom: 1.5px dashed #1698d9;

  color: #1698d9;
  cursor: pointer;
}

.card__caption-dot {
  color: #1698d9;
}

/* .card::before {
  position: absolute;
  transform: rotate(50deg);
  margin: -28.29px;
  padding: 28.29px;
  box-shadow: 0 0 300px rgba(#95a, 0.75);
  background: #95a;
  content: '';
} */
