.card {
  width: 320px;
  height: 509px;
  position: relative;
  overflow: hidden;
}

.card__box {
  height: 480px;
  border-radius: 12px;
  border: 4px solid #1698d9;
  margin-bottom: 14px;
  background: url(../images/cat.png) no-repeat 60% 180% white;
}

.card__box_checked {
  border-color: #d91667;
}

.card__box_unavaliable {
  border-color: black;
}

.card__caption {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.card__caption-link {
  color: #1698d9;
  border-bottom: 1.5px dashed #1698d9;
  cursor: pointer;
}

.card__caption-dot {
  color: #1698d9;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 21px 0 0 48px;
}

.card__content-title {
  padding: 0 0 5px 2px;
  line-height: 19px;
  color: #666666;
}

.card__content-name {
  font-size: 48px;
  line-height: 56px;
}

.card__content-taste {
  font-size: 24px;
  line-height: 28px;
  padding: 0 0 15px 2px;
}

.card__content-amount,
.card__content-bonus,
.card__content-result {
  padding-left: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card__oval {
  position: absolute;
  left: 70%;
  top: 75.44%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1698d9;
}

.card__oval_checked {
  background-color: #d91667;
}

.card__content-weight {
  padding-top: 13px;
  font-size: 42px;
  line-height: 22px;
  color: #ffffff;
}
.card__content-unit {
  padding-top: 7px;
  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
}

/* .card::before {
  position: absolute;
  transform: rotate(50deg);
  margin: -28.29px;
  padding: 28.29px;
  box-shadow: 0 0 300px rgba(#95a, 0.75);
  background: #95a;
  content: '';
} */
