.card {
  width: 320px;
  height: 509px;
}

.card__box {
  position: relative;
  height: 480px;
}

.card__box-border_default {
  fill: #1698d9;
}

.card__box-border_default_hover {
  fill: #2ea8e6;
}

.card__box-border_checked {
  fill: #d91667;
}

.card__box-border_checked_hover {
  fill: #e62e7a;
}

.card__box-border_unavailable {
  fill: #b3b3b3;
}

.card__content {
  position: absolute;
  top: 0;
  left: 4px;
  padding: 21px 0 0 45px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  border-radius: 8px;

  overflow: hidden;
  width: 316px;
  height: 476px;
}

.card__content_default {
  background: url(../images/cat_default.png) -6px 0 no-repeat;
}

.card__content_unavailable {
  background: url(../images/cat_unavailable.png) -6px 0 no-repeat;
}

.card__content-title {
  padding: 0 0 5px 2px;

  line-height: 19px;
}

.card__content-title_default,
.card__content-title_checked {
  color: #666666;
}

.card__content-title_checked_hover {
  color: #e62e7a;
}

.card__content-title_unavailable {
  color: #d2d2d2;
}

.card__content-name {
  font-size: 48px;
  line-height: 56px;
}

.card__content-taste {
  padding: 0 0 13px 2px;

  font-size: 24px;
  line-height: 28px;
}

.card__content-amount,
.card__content-bonus,
.card__content-result {
  padding-left: 2px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.card__content-name_unavailable,
.card__content-taste_unavailable,
.card__content-amount_unavailable,
.card__content-bonus_unavailable,
.card__content-result_unavailable {
  color: #d2d2d2;
}

.card__oval {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 50%;

  width: 80px;
  height: 80px;
}

.card__oval_default {
  background-color: #1698d9;
}

.card__oval_default_hover {
  background-color: #2ea8e6;
}

.card__oval_checked {
  background-color: #d91667;
}

.card__oval_checked_hover {
  background-color: #e52e7a;
}

.card__oval_unavailable {
  background-color: #b3b3b3;
}

.card__content-weight {
  padding-top: 13px;

  font-size: 42px;
  line-height: 22px;
  color: #ffffff;
}
.card__content-unit {
  padding-top: 7px;

  font-size: 21px;
  line-height: 22px;
  color: #ffffff;
}

.card__caption {
  padding-top: 14px;
  text-align: center;

  font-size: 13px;
  line-height: 15px;
}

.card__caption_default {
  color: #ffffff;
}

.card__caption_unavailable {
  color: #ffff66;
}

.card__caption-link {
  border-bottom: 1.5px #1698d9;
  border-bottom-style: dashed;

  color: #1698d9;
  cursor: pointer;
}

.card__caption-link:hover {
  border-color: #2ea8e6;

  color: #2ea8e6;
}

.card__caption-dot {
  color: #1698d9;
}
