.container {
  padding: 35px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  min-height: 100vh;
  background: url(../images/bg.png);
  background-size: cover;
}
